In [ ]:
{
    key1:value1,
    key2:value2,
    key3:value3,
    ...
}
#always start with {}
#key and values
#: seprator between key and value
#, seprator between key:value pair 
# key data types always shoud be int or string
#value data types can be any types

In [ ]:
#    0        1     2    3
['fariha, 'anisa', 39, "AI"]
# we will replace indexes with keys

In [2]:
data = {
    'name':'asma',
    'fther_name':'ali',
    'age':38,
    'qualification':'MSAA',
    'skills':['AI', 'ML', 'cloud computing']
}
print(data)

{'name': 'asma', 'fther_name': 'ali', 'age': 38, 'qualification': 'MSAA', 'skills': ['AI', 'ML', 'cloud computing']}

# how to access value from dictionary
*dictname['key']

In [18]:
data = {
    'name':'asma',
    'fname':'ali',
    'age':38,
    'qualification':'MSAA',
    'skills':['AI', 'ML', 'cloud computing']
}
print(type(data))
data['age']

<class 'dict'>

38

In [3]:
data['name']

'asma'

In [5]:
data['qualification']

'MSAA'

In [9]:
 data['skills']

['AI', 'ML', 'cloud computing']

In [11]:
data['fname']

'ali'

In [ ]:
data = {
    'names':['asma','fatima','azra']
    'fnames':['ali','fahad','abdullah']
    'qualification':['MSAA', 'MSC', 'BCS']
    'skills':['AI', 'ML', 'cloud computing']
}

In [13]:
import pandas as pd
df = pd.DataFrame(data)
df

   name fname  age qualification           skills
0  asma   ali   38          MSAA               AI
1  asma   ali   38          MSAA               ML
2  asma   ali   38          MSAA  cloud computing

In [10]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
'qualification':['MSAA', 'MSC', 'BCS'],
'skills':['AI', 'ML', 'cloud computing']
}
print(data)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}

In [8]:
import pandas as pd
df = pd.DataFrame(data)
df

    names    fnames qualification           skills
0    asma       ali          MSAA               AI
1  fatima     fahad           MSC               ML
2    azra  abdullah           BCS  cloud computing

In [29]:
data = {}
data['name']= "saira" #add key value1
data['fname'] = "abdulwali" # so on
data['course'] = "AI"
data['student']= "hassaan"  
data['studentf'] = "mehmood" +"AI student"
data

{'name': 'saira',
 'fname': 'abdulwali',
 'course': 'AI',
 'student': 'hassaan',
 'studentf': 'mehmoodAI student'}

In [30]:
dir(data)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
'qualification':['MSAA', 'MSC', 'BCS'],
'skills':['AI', 'ML', 'cloud computing']
}
print(data)
data.clear() #clear/empty but object exist
print(data)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}
{}

In [33]:
del data

In [34]:
print(data)

NameError: name 'data' is not defined

In [37]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
'qualification':['MSAA', 'MSC', 'BCS'],
'skills':['AI', 'ML', 'cloud computing']
}
print(data)
data1 = data #shallow copy
data1['names'] = 'maria'
print(data)
print(data1)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}
{'names': 'maria', 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}
{'names': 'maria', 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}

In [8]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
}
print(data)
data1 = data.copy() #deep copy
data1['names'] = 'maria'
data2 = data1 = #shallow copy
data2['fnames'] = 'gaurdians'
print(data)
print(data2)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah']}
{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah']}
{'names': 'maria', 'fnames': 'gaurdians'}

# from keys

In [46]:
keys = ['id','name','fname']
dict.fromkeys(keys)

{'id': None, 'name': None, 'fname': None}

In [51]:
keys = ['id','name','fname']
values = [1,'ammara','saleem']
dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

In [52]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
'qualification':['MSAA', 'MSC', 'BCS'],
'skills':['AI', 'ML', 'cloud computing']
}
print(data)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}

In [54]:
data.get('names') # get function protect from error

['asma', 'fatima', 'azra']

In [55]:
data.get('contact')

In [56]:
 data.get('contact', 'not available')

'not available'

# item, keys, values

In [58]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah']}


data.items()

dict_items([('names', ['asma', 'fatima', 'azra']), ('fnames', ['ali', 'fahad', 'abdullah'])])

In [59]:
 data.keys()

dict_keys(['names', 'fnames'])

In [60]:
data.values()

dict_values([['asma', 'fatima', 'azra'], ['ali', 'fahad', 'abdullah']])

In [16]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah']}
data

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah']}

In [18]:
del data['names']# del will delete data permanantly
data

{'fnames': ['ali', 'fahad', 'abdullah']}

In [21]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah']}
a = data.pop('names') # it will not remove permanantly 
print(a)
print(data)

['asma', 'fatima', 'azra']
{'fnames': ['ali', 'fahad', 'abdullah']}

In [24]:
completed_lis = []
data = {
    'name':'asma',
    'fname':'ali',
    'age':38,
    'qualification':'MSAA',
    'skills':['AI', 'ML', 'cloud computing']
}
a = data.pop('name')
b = data.pop('fname')
print(a)
print(b)

asma
ali

In [26]:
completed_list.append(a)
completed_list.append(b)
print(completed_list)

['asma', 'asma', 'ali']

In [61]:
 list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
for num in [1,2,3,4,5,6,7,8,9,10]:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [66]:
data = {
    'names':['asma','fatima','azra'],
    'fnames':['ali','fahad','abdullah'],
'qualification':['MSAA', 'MSC', 'BCS'],
'skills':['AI', 'ML', 'cloud computing']
}
print(data)

{'names': ['asma', 'fatima', 'azra'], 'fnames': ['ali', 'fahad', 'abdullah'], 'qualification': ['MSAA', 'MSC', 'BCS'], 'skills': ['AI', 'ML', 'cloud computing']}

In [68]:
for k in data.items():
    print(k)

('names', ['asma', 'fatima', 'azra'])
('fnames', ['ali', 'fahad', 'abdullah'])
('qualification', ['MSAA', 'MSC', 'BCS'])
('skills', ['AI', 'ML', 'cloud computing'])

In [10]:
for i in data.items():
    print(i)

('names', ['asma', 'fatima', 'azra'])
('fnames', ['ali', 'fahad', 'abdullah'])

In [12]:
for k,v in data.items():
    print(k,v)

names ['asma', 'fatima', 'azra']
fnames ['ali', 'fahad', 'abdullah']

# # returnable and non returnable functions

In [13]:
a = print('pakistan')# non return function
print(a)

pakistan
None

In [14]:
a = len('pakistan')# returnable function
print(a)

8

In [15]:
a = type('pakistan')
print(a)

<class 'str'>