# class_9_functions

# fUNCTIONS
steps to make function

*function declair/define
    * function name
    * argument
*functin body
  *set of statement
*function calling
  *name()
  *pass argument

# return
* if store output in variable
# non-return
** if not  store output in variable
# dafault
*not required any argument when you call
# required arguments
function will not work without requirements
# optional arguments
*if we did not provide any thing that is optional, function will not stop its work it will continue with some its default arguments value.

# generator function
*generate value one by one
*always remember old generated values
# lambda function
*one line function
*it has no name
*one time use only
# recursive function
*it call in its own body
*it work repeatedly

## pre- define functions

In [1]:
print("helo") # function calling
print(len("helo"))
print(id("helo"))

helo
4
1604708389808

In [2]:
#return function
a = print("pakistan zinda abad")# nob returable
print(a) #unable to store value in variable

pakistan zinda abad
None

In [3]:
a = id("pakistan") # return function
print(a)# successfuly store in variabe

1604708501360

In [4]:
a = len("pakistan")
print(a)

8

## user defined  function
'''
def function_word(argument1, agument2,...):
    statement1
    staement2
    
function_word(arg1, arg2)
'''

In [5]:
def piaic_introduction(): # function declair
    print("PIAIC") # staement1
    print('course') # 2
    print("\t AI") #3
    print("\t Blockchain") #4
    
piaic_introduction()

PIAIC
course
	 AI
	 Blockchain

In [6]:
def piaic_introduction(): # function declair
    txt ="""
    PIAIC
    courses offer
         AI
         Blockchain
         cloud computing
         metaverse    
    """
    return txt

print(piaic_introduction())

    PIAIC
    courses offer
         AI
         Blockchain
         cloud computing
         metaverse

In [7]:
print(piaic_introduction())
print(piaic_introduction())

    PIAIC
    courses offer
         AI
         Blockchain
         cloud computing
         metaverse


    PIAIC
    courses offer
         AI
         Blockchain
         cloud computing
         metaverse

## required arguments

In [8]:
def addition(num1, num2):
    return num1 + num2

print(addition(7, 20))
print(addition(50, 2))
print(addition(30, 2))
print(addition(12, 3))

27
52
32
15

In [9]:
addition(3, 5)

8

# optional argument

In [10]:
def addition(num1=0, num2=0):
    return num1 + num2
print(addition())
print(addition(1))
print(addition(2, 5))

0
1
7

In [11]:
# optional and required together
def making_biryani(rice,meat, tomatos=".5 kg"): # when we write = it means it is optional oyherwise its required
    txt = f"""
    boiling {rice}
    making qorma with {meat}
    layring {tomatos}
    now enjoy it :)
    """
    
    return txt

a = making_biryani("rice","meat", "tomato")
print(a)

    boiling rice
    making qorma with meat
    layring tomato
    now enjoy it :)

In [12]:
print(making_biryani)

<function making_biryani at 0x00000175A018CD30>

In [13]:
print(making_biryani("Basmati", 'beef', '1KG'))

    boiling Basmati
    making qorma with beef
    layring 1KG
    now enjoy it :)

In [14]:
print(a)

    boiling rice
    making qorma with meat
    layring tomato
    now enjoy it :)

# optional argument 2 unlimited

In [15]:
def my_sum(num1,*num): # when we use asteric then it take the next numbers as tuple
    print(num1,num)
    return num1 

my_sum(5,3,4,7,6)

5 (3, 4, 7, 6)

5

In [16]:
def my_sum(num1,num2,*num):
    print(num1,num2,num)
    return num1 + num2 +sum(num)

my_sum(5,3,4,7,6)

5 3 (4, 7, 6)

25

In [17]:
my_sum(23,45,67)

23 45 (67,)

135

In [18]:
l = [1,30,55,66,78,]
print(l[0],l[1],l[2],l[3],l[4])# list index wise

1 30 55 66 78

In [19]:
l = [1,30,55,66,78,]
print(*l) # during call * before itrated data type + unzip values

1 30 55 66 78

In [20]:
def my_class(name1, name2, name3, name4):
    return name1 + name2 + name3 + name4

l = ['saira', 'fatima', 'hira', 'irha']
my_class(*l)

'sairafatimahirairha'

In [1]:
l = [2, 4, 6, 7, 8, 9, 33,]
print(*l)

2 4 6 7 8 9 33

In [21]:
print(50, l[0],l[-2:])
print(50, l[0],*l[-2:])

50 saira ['hira', 'irha']
50 saira hira irha

In [22]:
def my_new_sum(num1,num2,num3,num4,num5,num6):
    return num1+num2+num3+num4+num5+num6

l = [10,20,30,40.50,60,70]
my_new_sum(*l)

230.5

## calling function with key word argument

In [23]:
def student_card(roll_no, name, fname, course):
    card = f"""
    piaic student identity card
    roll_no: {roll_no}
    name: {name}
    fname: {fname}
    course: {course}
    """
    
    return card

print(student_card(11,'hamza','qamar','AIC'))

    piaic student identity card
    roll_no: 11
    name: hamza
    fname: qamar
    course: AIC

In [30]:
def student_card(roll_no, name, fname, course):
    card = f"""
    piaic student identity card
    roll_no: {roll_no}
    name: {name}
    fname: {fname}
    course: {course}
    """
    
    return card

print(student_card(name="hassaan", fname="mehmood", roll_no=11, course="AIC"))

    piaic student identity card
    roll_no: 11
    name: hassaan
    fname: mehmood
    course: AIC

In [31]:
l = [11,'hassaan', 'mehmod', 'AIC']
print(student_card(*l))

    piaic student identity card
    roll_no: 11
    name: hassaan
    fname: mehmod
    course: AIC

In [35]:
# if we want to pass dict in key word arguments then we use ** 
d1 = {"name":"saira",
     "fname":"abdulwali",
     "roll_no":11,
     "course":"AIC"}
print(student_card(**d1))

    piaic student identity card
    roll_no: 11
    name: saira
    fname: abdulwali
    course: AIC

In [ ]:
def my_new_sum(num1,num2,num3,num4,num5,num6):
    print(num1, num2, num3, num4, num5, num6)
    return num1 + num2 + num3 + num4 + num5 + num6

my_new_sum(2,3,4,5,6,7)

In [ ]:
 student_card = input("Enter student roll_no")

# creating keyword argument unlimited

In [3]:
def my_function(num1, num2, **abc):# optional keyword argument
    print(num1,num2,abc)

my_function(3,5,l=20, age=45, course="AIC")

3 5 {'l': 20, 'age': 45, 'course': 'AIC'}

# lambda function

In [7]:
def add(num1,num2):
    return num1 + num2
add(30,5)

35

In [ ]:
lambda num1,num2: num1 + num2

In [8]:
a = lambda num1,num2: num1 + num2 # we conver it into a variable
a(30,5)

35

In [12]:
data = [[1,'z','a'],
       [2,'y','b'],
       [3,'x','c']]

sorted(data, key=lambda x:x[1])

[[3, 'x', 'c'], [2, 'y', 'b'], [1, 'z', 'a']]

In [13]:

sorted(data, key=lambda x:x[0])

[[1, 'z', 'a'], [2, 'y', 'b'], [3, 'x', 'c']]

In [14]:
sorted(data, key=lambda x:x[2], reverse=True)

[[3, 'x', 'c'], [2, 'y', 'b'], [1, 'z', 'a']]

# genrated function

In [24]:
range(1,11)

range(1, 11)

In [25]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
l1 = [1,2,3]
l2 = ['a','b','c']
zip(l1,l2)

In [27]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# how to make generator function

In [28]:
def my_gen():
    for i in range(s, e+1):
        yield i
                
abc = my_gen(1,10)
print(abc)
print(next(abc))

TypeError: my_gen() takes 0 positional arguments but 2 were given

In [29]:
def my_gen():
    for i in range(s, e+1):
        yield i
                
abc = my_gen(1,10)
print(abc)

TypeError: my_gen() takes 0 positional arguments but 2 were given

# recursive

In [ ]:
def abc(x):
    if x==0:
        return 0 
    return abc(x-1)