In [ ]:
# combination of any charactor is called string

## how to assign string values in variables or how many ways to define string

In [2]:
name = "Huzaifa Mehmood" #string always in '' or ""
print(name)

Huzaifa Mehmood

In [3]:
name = 'Huzaifa Mehmood'
print(name)

Huzaifa Mehmood

In [4]:
print(name,type(name))

Huzaifa Mehmood <class 'str'>

In [5]:
print(name,len(name))

Huzaifa Mehmood 15

In [5]:
print(type(name))

<class 'str'>

In [ ]:
# space characters = \n ,\t ...
# \n = to connect the string,  \t = to use for space

In [6]:
data ='name:\tHassaan\nfather_name:\t Mehmood Akhter\nEducation:\tMBA\nAge:\t38'
print(data)

name:	Hassaan
father_name:	 Mehmood Akhter
Education:	MBA
Age:	38

In [4]:
# triple qouts or triple double quote = multi line string
data = """
name:   Hassaan Mehmood
father_name: Mehmood Akhter
Education:  MBA
Age:  38"""
print(data)

name:   Hassaan Mehmood
father_name: Mehmood Akhter
Education:  MBA
Age:  38

In [7]:
name

'Huzaifa Mehmood'

In [45]:
# if single quote comes in middle of the string then it break the string.
# then you have to use (\) before that quote
data =' name: Hassaan\n father\'s Name:  Mehmood Akhter\n Education: MBA\n Age: 38'
print(data)

 name: Hassaan
 father's Name:  Mehmood Akhter
 Education: MBA
 Age: 38

In [43]:
 data

" name: Hassaan\n father's Name:  Abdul Wali\n Education: MBA\n Age: 38"

In [38]:
data = """
name:   Hassaan Mehmood
father_name:  Mehmood Akhter
Education:  MBA
Age:  38"""

In [39]:
print(data)

name:   Hassaan Mehmood
father_name:  Mehmood Akhter
Education:  MBA
Age:  38

In [18]:
name = "saira" #case sensitive
print(Name)

NameError: name 'Name' is not defined

In [14]:
"a"
'b'
'c' # jupyter cell always return last line

'c'

In [15]:
"a"
'b'
'c'
print('c') # print displays in formate

c

# how to apply variable name rules

In [1]:
# can not start with integer
# its case sensitive
# it can be letter with integer

_name = "fatima"

# concatination (combine two or more variables and values) text formation

In [7]:
name = "Hassaan Mehmood"
father_name = "mehmood akhter"
Education = "MBA"
Age = 38
print(name, father_name, Education, Age, sep="\n")

Hassaan Mehmood
mehmood akhter
MBA
38

In [8]:
# age = 38 and in variable we have to convert integers in string for example: str(age)
result = "PIAIC teacher Card\n name: "+ name +"\n father_name: "+father_name+"\n Education: "+Education+"\n str(Age): 38"
print(result)

PIAIC teacher Card
 name: Hassaan Mehmood
 father_name: mehmood akhter
 Education: MBA
 str(Age): 38

In [49]:
data = """
PIAIC Result Card
 name: {0}
 father_name: {3}
 Education: {2}
 str(Age): {1}
""".format(name, father_name, Education, Age)
print(data) # we must have to pass the values according to keys or by index numbers

PIAIC Result Card
 name: Hassaan Mehmood
 father_name: 38
 Education: MBA
 str(Age): mehmood akhter

In [51]:
 data = """
PIAIC Result Card
 name: {0}
 father_name: {1}
 Education: {2}
 str(Age): {3}
""".format(name, father_name, Education, Age)
print(data) # .format method

PIAIC Result Card
name: Hassaan Mehmood
father_name: mehmood akhter
Education: MBA
str(Age): 38

In [53]:
data = f"""
PIAIC Result Card
 name: {name}
 father_name: {father_name}
 Education: {Education}
 str(Age): {Age}
"""
print(data) # f method

PIAIC Result Card
 name: Hassaan Mehmood
 father_name: mehmood akhter
 Education: MBA
 str(Age): 38

# string methods

In [8]:
name = "Hassaan Mehmood"
father_name = "mehmood akhter"
Education = "MBA"
Age = 38
data = (name, father_name, Education, Age)
print(data)

('Hassaan Mehmood', 'mehmood akhter', 'MBA', 38)

In [9]:
data

('Hassaan Mehmood', 'mehmood akhter', 'MBA', 38)

In [13]:
name = "hassaan mehmood"
name.capitalize()

'Hassaan mehmood'

In [14]:
name = "Hassaan Mehmood"
name.casefold()

'hassaan mehmood'

In [2]:
name = "hassaan mehmood"
name.center(50)

'                 hassaan mehmood                  '

In [8]:
print(name.count("hassaan"))

1

In [9]:
print(name.count("mehmood"))

1

In [1]:
name = "hassaan mehmood"
print(name)

hassaan mehmood

In [4]:
name.encode("utf-8")

b'hassaan mehmood'

In [5]:
name.endswith("ood")

True

In [11]:
data = """
name: \t Hassaan Mehmood
father_name: \t mehmood akhter
Education: \t MBA
Age: 38
"""
print(data)

name: 	 Hassaan Mehmood
father_name: 	 mehmood akhter
Education: 	 MBA
Age: 38

In [13]:
print(data.expandtabs(20))

name:                Hassaan Mehmood
father_name:         mehmood akhter
Education:           MBA
Age: 38

In [16]:
print(name.find("ha"))

0

In [15]:
name.find("hm")

10

In [20]:
records = {"x":"Hassaan","y":"Huzaifa"}
print("name: {x} \n brother_name: {y}".format_map(records))

name: Hassaan
 brother_name: Huzaifa

In [22]:
names = {"x":"hashim","y":"huzaifa" ,"z":"hassaan"}
print("name:{x} \n brother_name:{y}\n brother_name:{z}".format_map(names))

name:hashim
 brother_name:huzaifa
 brother_name:hassaan

In [23]:
name = "hashim mehmood"
print(name)

hashim mehmood

In [25]:
name.isalnum()

False

In [27]:
name = "hashim mehmood"
name.isalpha()

False

In [29]:
name = "urdu"
name.isascii()

True

In [30]:
name = "hashim mehmood"
name.isdecimal()

False

In [31]:
name = "hashim mehmood"
name.isdigit()

False

In [33]:
name = "hasHim mEhMood"
name.lower()

'hashim mehmood'

In [34]:
name = "hashim mehmood"
name.islower()

True

In [35]:
name = "      hashim mehmood    "
name.lstrip()

'hashim mehmood    '

In [36]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']